.whole-container-signup {
  padding: 10px;
  border: solid #222222;
  border-radius: 8px;
  width: 250px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
  "header"
  "form";
}

.signup-header-container {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-header {
  font-size: large;
}

.signup-form {
  display: grid;
  flex-direction: column;
  grid-area: form;
  grid-template-rows: repeat(6, 1fr) 2fr;
  grid-template-areas:
  "first"
  "last"
  "email"
  "username"
  "password"
  "confirm"
  "button";
}

/* .signup-input-container {
  grid-area: userpass;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "username"
  "password";
  padding-bottom: 10px;
} */

.signup-email-input {
  grid-area: email;
  margin: 5px 0;
}

.signup-username-input {
  grid-area: username;
  margin: 5px 0;
}

.signup-firstname-input {
  grid-area: first;
  margin: 5px 0;
}

.signup-lastname-input {
  grid-area: last;
  margin: 5px 0;
}

.signup-password-input {
  grid-area: password;
  margin: 5px 0;
}

.signup-confirm-input {
  grid-area: confirm;
  margin: 5px 0;
}

.signup-button {
  grid-area: button;
  justify-items: center;
  background-color: #c04e02;
  color: white;
  box-shadow: 3px 3px black;
  border: solid black;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 20px 20px;
}

.signup-button:hover {
  cursor: pointer;
}

.signup-button.disabled {
  grid-area: button;
  justify-items: center;
  background-color: white;
  color: #8b90b3;
  box-shadow: 3px 3px black;
  border: solid black;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 20px 20px;
}

.signup-button.disabled {
  cursor: context-menu;
}
