.modal-button {
  justify-items: center;
  background-color: #c04e02;
  color: white;
  box-shadow: 3px 3px black;
  border: solid black;
  border-radius: 2px;
  /* padding: 10px; */
  /* margin: 10px 20px 20px; */
}
